@use "../abstract" as *;
@use "../animation" as *;
/* Typing */
.typing {
    @include pseudo($left: calc(100% + 0.25rem)) {
        width: 0.125rem;
        background-color: var(--clr-primary-300);
        animation: typing 1s linear infinite;
    }
}
